{erl_opts, [debug_info]}.
{deps, [
  observer_cli,
  {cowboy, ".*",
    {git, "https://github.com/extend/cowboy.git", {tag, "2.9.0"}}},
  {jiffy, ".*",
    {git, "https://github.com/davisp/jiffy.git", {tag, "1.1.1"}}}
]}.

{plugins, [
  {gradualizer,
    {git, "https://github.com/josefs/Gradualizer.git", {branch, "master"}}},
  erlfmt
]}.

{erlfmt, [
  write,
  {files, "{src,include,test}/**/*.{hrl,erl}"}
]}.

{gradualizer_opts, [
  {i, "./include"},
  {print_file, true}
]}.

{profiles, [
  {dev, [
    {format, [
      {options, #{
        break_indent => 4,
        paper => 120,
        ribbon => 110
      }},
      {files, ["src/**/*.?rl", "include/**/*.?rl", "test/**/*.?rl"]}
    ]},
    {provider_hooks, [
      {pre, [
        {compile, fmt}
      ]},
      {post, [
        {compile, {default, gradualizer}}
      ]}
    ]}
  ]}
]}.

{shell, [
  % {config, "config/sys.config"},
    {apps, [warp]}
]}.
